# --- Experiment Matrix ---
# The suite will iterate through the Cartesian product of these lists.

experiment_name = "initial_tests"
results_dir = "results"
log_dir = "results/logs"
logging_level = "INFO"
input_file = "benchmarks/complex_func_bench/data/ComplexFuncBench.jsonl"
# Good samples: ["Car-Rental-131", "Cross-131"]
selected_test_cases = ["Car-Rental-131", "Cross-131"]
# benchmark_sample_size = 10

# setting for max. context before compression
compact_threshold = 5000

# 1. Select keys from model_config.toml to test
enabled_models = [
    # "gpt-5",
    # "gpt-4-1",
    "gpt-4-1-mini", 
    # "gpt-5-mini",
    # "glm-4-9b",
    # "llama-31-7b",
]

# 2. Define Memory Architectures to test
enabled_memory_methods = [
    # "no_strategy",
    "truncation",
    "progressive_summarization",
    # "memory_bank",
]

# --- Memory Strategy Definitions ---

[memory_strategies.truncation]
type = "truncation"

[memory_strategies.no_strategy]
type = "no_strategy"

[memory_strategies.progressive_summarization]
type = "progressive_summarization"
summarizer_model = "gpt-4-1-mini"
summary_prompt = "src/strategies/progressive_summarization/prog_sum.prompt.md"